APP_NAME=English Learning Server
APP_ENV=development
APP_DEBUG=true
APP_DATABASE_ECHO=false
APP_AUTO_CREATE_TABLES=false
APP_DICTIONARY_API_BASE_URL=https://api.dictionaryapi.dev/api/v2/entries/en
APP_SECRET_KEY=your-app-secret-key
APP_JWT_ALGORITHM=HS256
APP_ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/english_learning

# youdao
YOUDAO_APP_KEY=your-youdao-app-key
YOUDAO_APP_SECRET=your-youdao-app-secret
YOUDAO_API_BASE_URL=https://openapi.youdao.com/api
